body {
  font-size: 13px;
  margin: 0;
  padding: 0; }

p {
  margin: 1em 0; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1.5em 0; }

th,
td {
  border-bottom: 1px solid #ccc;
  padding: 0.75em 0.5em; }

th {
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, #eee, #ddd); }

th:first-child {
  -moz-border-radius: 6px 0 0 0;
  -webkit-border-radius: 6px 0 0 0;
  border-radius: 6px 0 0 0; }

th:last-child {
  -moz-border-radius: 0 6px 0 0;
  -webkit-border-radius: 0 6px 0 0;
  border-radius: 0 6px 0 0; }

th:only-child {
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0; }

tr:nth-child(even) {
  background: #F5F5F5; }

tr:hover td {
  background: #F5F5FF; }

input[type=text],
input[type=password],
input[type=image],
textarea {
  font-size: 0.95em; }

select,
option {
  padding: 0 .25em; }

optgroup {
  margin-top: .5em; }

pre,
code {
  font-family: Menlo, Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace; }

pre {
  background-color: #eeeeee;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ddd;
  -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0 0 4px inset;
  box-shadow: rgba(0, 0, 0, 0.06) 0 0 4px inset;
  color: #555;
  margin: 1em 0;
  overflow: auto;
  padding: 8px 8px 4px 8px; }

pre code {
  background-color: #eeeeee;
  border: none;
  margin: 0;
  padding: 0; }

code {
  background-color: #f8f8ff;
  border: 1px solid #dedede;
  color: #444;
  font-size: 0.9em;
  line-height: 1.666em;
  padding: 0.1em 0.2em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

img {
  border: 0;
  max-width: 100%; }

abbr {
  border-bottom: none; }

a {
  color: #4183c4;
  text-decoration: none; }

a:hover {
  color: #42A1FF;
  text-decoration: underline; }

a code,
a:link code,
a:visited code {
  color: #4183c4; }

h1,
h2,
h3 {
  color: black;
  margin: 1em 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  border: 0;
  margin-top: 1em; }

h1 {
  font-size: 2.5em;
  line-height: 0.6em;
  margin-top: 1.5em;
  text-shadow: 2px 2px 2px #DFDFDF; }

h2 {
  font-size: 2em;
  line-height: 0.75em;
  margin-top: 1.5em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.2em;
  line-height: 1.25em; }

h1:first-child,
h2:first-child,
h3:first-child {
  margin-top: 0; }

hr {
  border: 1px solid #ddd;
  -webkit-border-image: -webkit-linear-gradient(left, #E5E5E5, #DDDDDD, #E5E5E5) 100% 100% 100% stretch stretch;
  border-width: 0 0 1px 0; }

ul,
ol {
  margin: 1em 0;
  padding-left: 1.5em;
  text-indent: -0.75em; }

ol {
  counter-reset: list-counter; }

ul li,
ol li {
  list-style: none;
  margin-top: .1em;
  margin-bottom: .1em; }

ul li:before,
ol li:before {
  font-family: "Lucida Grande";
  position: relative;
  width: 0.75em;
  display: inline-block;
  color: #777; }

ul li:before {
  content: '\2022 \0020'; }

ol li:before {
  content: counter(list-counter) ".";
  counter-increment: list-counter;
  font-size: 0.9em; }

ul > ul,
ul > ol,
ol > ol,
ol > ul {
  margin-bottom: 0;
  margin-top: 0; }

blockquote {
  border-left: 5px solid #ddd;
  -webkit-border-image: -webkit-linear-gradient(left, #E8E8E8, #DDDDDD) 100% 100% stretch stretch;
  border-width: 0 0 0 5px;
  color: #555;
  margin: 1em 0;
  padding-left: .75em; }

dl {
  margin: 1em 0; }

dt {
  font-weight: bold;
  margin-left: 0; }

dd {
  margin-bottom: 1em;
  margin-left: 1.5em; }
